RoutingServer/RoutingServer/Connected Services/ServiceReference1/ProxyCache.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProxyCache" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProxyCache" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfJCDContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JCDContract" nillable="true" type="tns:JCDContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJCDContract" nillable="true" type="tns:ArrayOfJCDContract" />
  <xs:complexType name="JCDContract">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="cities" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDContract" nillable="true" type="tns:JCDContract" />
  <xs:complexType name="ArrayOfJCDStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JCDStation" nillable="true" type="tns:JCDStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJCDStation" nillable="true" type="tns:ArrayOfJCDStation" />
  <xs:complexType name="JCDStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mainStands" nillable="true" type="tns:MainStands" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="position" nillable="true" type="tns:Position" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDStation" nillable="true" type="tns:JCDStation" />
  <xs:complexType name="MainStands">
    <xs:sequence>
      <xs:element minOccurs="0" name="availabilities" nillable="true" type="tns:Availabilities" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainStands" nillable="true" type="tns:MainStands" />
  <xs:complexType name="Availabilities">
    <xs:sequence>
      <xs:element minOccurs="0" name="bikes" type="xs:int" />
      <xs:element minOccurs="0" name="stands" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Availabilities" nillable="true" type="tns:Availabilities" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
</xs:schema>