RoutingServer/RoutingServer/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Proxy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/ProxyCache" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProxy_getAllContracts_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllContracts" />
  </wsdl:message>
  <wsdl:message name="IProxy_getAllContracts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllContractsResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_getStations_InputMessage">
    <wsdl:part name="parameters" element="tns:getStations" />
  </wsdl:message>
  <wsdl:message name="IProxy_getStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProxy">
    <wsdl:operation name="getAllContracts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/getAllContracts" message="tns:IProxy_getAllContracts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/getAllContractsResponse" message="tns:IProxy_getAllContracts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/getStations" message="tns:IProxy_getStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/getStationsResponse" message="tns:IProxy_getStations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProxy" type="tns:IProxy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllContracts">
      <soap:operation soapAction="http://tempuri.org/IProxy/getAllContracts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStations">
      <soap:operation soapAction="http://tempuri.org/IProxy/getStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Proxy">
    <wsdl:port name="BasicHttpBinding_IProxy" binding="tns:BasicHttpBinding_IProxy">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ProxyCache/Proxy/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>